YNAB_TOKEN=your-ynab-api-token
YNAB_BUDGET=your-budget-name
CARD_ACCOUNT=your-credit-card-account-name-in-ynab
CHECKING_ACCOUNT=your-checking-account-name-in-ynab
PLUGGY_CLIENT_ID=your-pluggy-client-id
PLUGGY_CLIENT_SECRET=your-pluggy-client-secret
PLUGGY_CARD_ACCOUNT=your-pluggy-credit-card-account-id
PLUGGY_CHECKING_ACCOUNT=your-pluggy-checking-account-id
